<H1><center>UTILIZANDO EXPRESIONES DE TABLA

1. Utilizando Vistas

1.1. Accediendo a la base de datos TSQL

In [6]:
USE TSQL;
GO

1.2. Write a SELECT statement to return the productid, productname, supplierid, unitprice, and
discontinued columns from the Production.Products table. Filter the results to include only products
that belong to the category Beverages (categoryid equals 1)

In [11]:
SELECT productid, productname, supplierid, unitprice from Production.Products where categoryid  =1;

productid,productname,supplierid,unitprice
1,Product HHYDP,1,"18,0000"
2,Product RECZE,1,"19,0000"
24,Product QOGNU,10,"4,5000"
34,Product SWNJY,16,"14,0000"
35,Product NEVTJ,16,"18,0000"
38,Product QDOMO,18,"263,5000"
39,Product LSOFL,18,"18,0000"
43,Product ZZZHR,20,"46,0000"
67,Product XLXQF,16,"14,0000"
70,Product TOONT,7,"15,0000"
75,Product BWRLG,12,"7,7500"
76,Product JYGFE,23,"18,0000"

1.3. Modify the T-SQL code to include the following supplied T-SQL statement. Put this statement before
the SELECT clause:

In [12]:
CREATE VIEW Production.ProductsBeverages AS 
SELECT productid, productname, supplierid, unitprice,discontinued
from Production.Products
where categoryid  =1;

1.4. Write a SELECT statement to return the productid and productname columns from the
Production.ProductsBeverages view. Filter the results to include only products where supplierid equals
1

In [13]:
select productid, productname
from Production.ProductsBeverages
where supplierid =1;

productid,productname
1,Product HHYDP
2,Product RECZE

1.5. The IT department has written a T-SQL statement that adds an additional calculated column to the

In [14]:
ALTER VIEW Production.ProductsBeverages AS
SELECT
productid, productname, supplierid, unitprice, discontinued,
CASE WHEN unitprice > 100. THEN N'high' ELSE N'normal' END
FROM Production.Products
WHERE categoryid = 1;

: Msg 4511, Level 16, State 1, Procedure ProductsBeverages, Line 2
Error de creación de vista o de función porque no se especificó ningún nombre de columna para la columna 6.

1.6. Apply the changes needed to get the T-SQL statement to execute properly

In [15]:
ALTER VIEW Production.ProductsBeverages AS
SELECT
productid, productname, supplierid, unitprice, discontinued,
CASE WHEN unitprice > 100. THEN N'high' ELSE N'normal' END as pricetype
FROM Production.Products
WHERE categoryid = 1;

2. Utilizando utilizando Tablas Derivadas

2.1. Write a SELECT statement against a derived table and retrieve the productid and productname
columns. Filter the results to include only the rows in which the pricetype column value is equal to
high. Use the SELECT statement from exercise 1, task 4, as the inner query that defines the derived
table. Do not forget to use an alias for the derived table. (You can use the alias “p”.)

In [21]:
SELECT 
p.productid, p.productname
from 
(
    SELECT
productid, productname, supplierid, unitprice, discontinued,
case when unitprice > 100. THEN N'high' ELSE N'normal' END as pricetype
FROM Production.Products
WHERE categoryid = 1
)AS p 
where p.pricetype = N'high';

productid,productname
38,Product QDOMO

2.2. Write a SELECT statement to retrieve the custid column and two calculated columns:
totalsalesamount, which returns the total sales amount per customer, and avgsalesamount, which
returns the average sales amount of orders per customer. To correctly calculate the average sales
amount of orders per customer, you should first calculate the total sales amount per order. You can
do so by defining a derived table based on a query that joins the Sales.Orders and Sales.OrderDetails
tables. You can use the custid and orderid columns from the Sales.Orders table and the qty and
unitprice columns from the Sales.OrderDetails table

In [20]:
SELECT
c.custid,
SUM(c.totalsalesamountperorder) AS totalsalesamount,
AVG(c.totalsalesamountperorder) AS avgsalesamount
from
(
    SELECT
    o.custid, o.orderid, SUM(d.unitprice* d.qty)AS totalsalesamountperorder
    from sales.orders as o 
    INNER JOIN sales.OrderDetails d ON d.orderid = o.orderid
    group BY o.custid, o.orderid
)AS c 
group by C.custid;

custid,totalsalesamount,avgsalesamount
1,"4596,2000","766,0333"
2,"1402,9500","350,7375"
3,"7515,3500","1073,6214"
4,"13806,5000","1062,0384"
5,"26968,1500","1498,2305"
6,"3239,8000","462,8285"
7,"19088,0000","1735,2727"
8,"5297,8000","1765,9333"
9,"23850,9500","1402,9970"
10,"22607,7000","1614,8357"
11,"6089,9000","608,9900"
12,"1814,8000","302,4666"
13,"100,8000","100,8000"
14,"12886,3000","1610,7875"
15,"3810,7500","762,1500"
16,"1719,1000","573,0333"
17,"3763,2100","627,2016"
18,"1615,9000","403,9750"
19,"15033,6600","1879,2075"
20,"113236,6800","3774,5560"
21,"4438,9000","634,1285"
23,"11666,9000","2333,3800"
24,"32555,5500","1713,4500"
25,"28722,7100","1914,8473"
26,"3172,1600","1057,3866"
27,"1545,7000","257,6166"
28,"7151,5500","893,9437"
29,"836,7000","167,3400"
30,"11830,1000","1183,0100"
31,"8702,2300","966,9144"
32,"19711,1300","1791,9209"
33,"1488,7000","744,3500"
34,"34101,1500","2435,7964"
35,"23611,5800","1311,7544"
36,"3063,2000","612,6400"
37,"57317,3900","3016,7047"
38,"6146,3000","614,6300"
39,"31745,7500","2267,5535"
40,"1992,0500","498,0125"
41,"10272,3500","733,7392"
42,"522,5000","174,1666"
43,"357,0000","178,5000"
44,"21282,0200","1418,8013"
45,"3490,0200","872,5050"
46,"17825,0600","1273,2185"
47,"17889,5500","1490,7958"
48,"4258,6000","532,3250"
49,"7603,8500","760,3850"
50,"10430,5800","1490,0828"
51,"32203,9000","2477,2230"
52,"5042,2000","1008,4400"
53,"649,0000","216,3333"
54,"3460,2000","692,0400"
55,"16325,1500","1632,5150"
56,"13157,5000","1315,7500"
58,"4242,2000","707,0333"
59,"26259,9500","2625,9950"
60,"5317,1000","1063,4200"
61,"6973,6300","774,8477"
62,"30226,1000","2325,0846"
63,"117483,3900","4195,8353"
64,"2844,1000","568,8200"
65,"52245,9000","2902,5500"
66,"7555,6000","629,6333"
67,"12924,4000","1174,9454"
68,"20033,2000","2003,3200"
69,"1467,2900","293,4580"
70,"5735,1500","955,8583"
71,"115673,3900","3731,3996"
72,"17172,0500","1908,0055"
73,"18138,4500","2591,2071"
74,"2423,3500","605,8375"
75,"12489,7000","1387,7444"
76,"24704,4000","2058,7000"
77,"3361,0000","840,2500"
78,"1947,2400","649,0800"
79,"4954,0000","825,6666"
80,"10812,1500","1081,2150"
81,"7310,6200","1218,4366"
82,"1571,2000","523,7333"
83,"16643,8000","1513,0727"
84,"9937,1000","993,7100"
85,"1480,0000","296,0000"
86,"10653,8500","1065,3850"
87,"16617,1000","1107,8066"
88,"6480,7000","720,0777"
89,"29073,4500","2076,6750"
90,"3161,3500","451,6214"
91,"3531,9500","504,5642"

3. Utilizando Expresions Comunes de Tabla

3.1. Write a SELECT statement like the one in exercise 2.1, but use a CTE instead of a derived table.
Use inline column aliasing in the CTE query and name the CTE ProductBeverages.

In [22]:
WITH ProductsBeverages AS
(
    select productid, productname, supplierid, unitprice, discontinued,
    case when unitprice > 100. THEN N'high' ELSE N'normal' END as pricetype
    FROM Production.Products
WHERE categoryid = 1 
)
SELECT
productid,productname
from ProductsBeverages
where pricetype =N'high';

productid,productname
38,Product QDOMO

3.2. Write a SELECT statement against Sales.OrderValues to retrieve each customer’s ID and total sales
amount for the year 2008. Define a CTE named c2008 based on this query, using the external aliasing
form to name the CTE columns custid and salesamt2008. Join the Sales.Customers table and the
c2008 CTE, returning the custid and contactname columns from the Sales.Customers table and the
salesamt2008 column from the c2008 CTE.

In [25]:
with c2008 (custid,salesant2008)as
(
select 
custid, SUM(val)
from sales.OrderValues
where year(orderdate)= 2008
GROUP BY custid
)
SELECT
c.custid,c.contactname,2008.salesant2008
from sales.Customers as c 
LEFT outer join c2008 on c.custid =c2008.custid;

custid,contactname,salesant2008
1,"Allen, Michael",2008
2,"Hassall, Mark",2008
3,"Peoples, John",2008
4,"Arndt, Torsten",2008
5,"Higginbotham, Tom",2008
6,"Poland, Carole",2008
7,"Bansal, Dushyant",2008
8,"Ilyina, Julia",2008
9,"Raghav, Amritansh",2008
10,"Bassols, Pilar Colome",2008
11,"Jaffe, David",2008
12,"Ray, Mike",2008
13,"Benito, Almudena",2008
14,"Jelitto, Jacek",2008
15,"Richardson, Shawn",2008
16,"Birkby, Dana",2008
17,"Jones, TiAnna",2008
18,"Rizaldy, Arif",2008
19,"Boseman, Randall",2008
20,"Kane, John",2008
21,"Russo, Giuseppe",2008
22,"Bueno, Janaina Burdan, Neville",2008
23,"Khanna, Karan",2008
24,"San Juan, Patricia",2008
25,"Carlson, Jason",2008
26,"Koch, Paul",2008
27,"Schmöllerl, Martin",2008
28,"Cavaglieri, Giorgio",2008
29,"Kolesnikova, Katerina",2008
30,"Shabalin, Rostislav",2008
31,"Cheng, Yao-Qiang",2008
32,"Krishnan, Venky",2008
33,"Sigurdarson, Hallur",2008
34,"Cohen, Shy",2008
35,"Langohr, Kris",2008
36,"Smith, Denise",2008
37,"Crăciun, Ovidiu V.",2008
38,"Lee, Frank",2008
39,"Song, Lolan",2008
40,"De Oliveira, Jose",2008
41,"Litton, Tim",2008
42,"Steiner, Dominik",2008
43,"Deshpande, Anu",2008
44,"Louverdis, George",2008
45,"Sunkammurali, Krishna",2008
46,"Dressler, Marlies",2008
47,"Lupu, Cornel",2008
48,"Szymczak, Radosław",2008
49,"Duerr, Bernard",2008
50,"Mace, Donald",2008
51,"Taylor, Maurice",2008
52,"Dupont-Roc, Patrice",2008
53,"Mallit, Ken",2008
54,"Tiano, Mike",2008
55,"Egelund-Muller, Anja",2008
56,"Marinova, Nadejda",2008
57,"Tollevsen, Bjørn",2008
58,"Fakhouri, Fadi",2008
59,"Meston, Tosh",2008
60,"Uppal, Sunil",2008
61,"Florczyk, Krzysztof",2008
62,"Misiec, Anna",2008
63,"Veronesi, Giorgio",2008
64,"Gaffney, Lawrie",2008
65,"Moore, Michael",2008
66,"Voss, Florian",2008
67,"Garden, Euan",2008
68,"Myrcha, Jacek",2008
69,"Watters, Jason M.",2008
70,"Ginters, Kaspars",2008
71,"Navarro, Tomás",2008
72,"Welcker, Brian",2008
73,"Gonzalez, Nuria",2008
74,"O’Brien, Dave",2008
75,"Wojciechowska, Agnieszka",2008
76,"Gulbis, Katrin",2008
77,"Osorio, Cristian",2008
78,"Young, Robin",2008
79,"Wickham, Jim",2008
80,"Geschwandtner, Jens",2008
81,"Nagel, Jean-Philippe",2008
82,"Veninga, Tjeerd",2008
83,"Fonteneau, Karl",2008
84,"Tuntisangaroon, Sittichai",2008
85,"McLin, Nkenge",2008
86,"Syamala, Manoj",2008
87,"Ludwig, Michael",2008
88,"Li, Yan",2008
89,"Smith Jr., Ronaldo",2008
90,"Larsson, Katarina",2008
91,"Conn, Steve",2008

4. Utilizando Funciones de Tabla en línea

4.1. Write a SELECT statement against the Sales.OrderValues view and retrieve the custid and
totalsalesamount columns as a total of the val column. Filter the results to include orders only for the
year 2007.

In [28]:
SELECT
custid,SUM(val) as totalsalesamount
from sales.OrderValues
GROUP BY custid;
GO

custid,totalsalesamount
1,"4273,00"
2,"1402,95"
3,"7023,98"
4,"13390,65"
5,"24927,58"
6,"3239,80"
7,"18534,08"
8,"4232,85"
9,"21963,25"
10,"20801,61"
11,"6089,90"
12,"1814,80"
13,"100,80"
14,"12348,88"
15,"3810,75"
16,"1719,10"
17,"3763,21"
18,"1615,90"
19,"14761,04"
20,"104874,99"
21,"4107,55"
23,"11666,90"
24,"29567,57"
25,"26656,57"
26,"3172,16"
27,"1545,70"
28,"6427,43"
29,"836,70"
30,"11446,36"
31,"8414,14"
32,"18507,46"
33,"1488,70"
34,"32841,37"
35,"22768,76"
36,"3063,20"
37,"49979,91"
38,"6146,30"
39,"30908,39"
40,"1992,05"
41,"9328,20"
42,"522,50"
43,"357,00"
44,"19261,42"
45,"3076,47"
46,"16076,60"
47,"16476,58"
48,"4258,60"
49,"7176,22"
50,"9736,08"
51,"28872,19"
52,"5042,20"
53,"649,00"
54,"3460,20"
55,"15177,47"
56,"12496,21"
58,"4242,20"
59,"23128,86"
60,"5044,94"
61,"6664,81"
62,"25717,50"
63,"110277,32"
64,"2844,10"
65,"51097,80"
66,"7048,24"
67,"12450,81"
68,"19343,78"
69,"1467,29"
70,"5735,15"
71,"104361,96"
72,"16215,33"
73,"16817,10"
74,"2423,35"
75,"11441,63"
76,"24088,78"
77,"3361,00"
78,"1947,24"
79,"4778,14"
80,"10812,15"
81,"6850,66"
82,"1571,20"
83,"15843,93"
84,"9182,43"
85,"1480,00"
86,"9588,43"
87,"15648,70"
88,"6068,20"
89,"27363,61"
90,"3161,35"
91,"3531,95"

4.2. Define an inline TVF using the following function header and add your previous query after the
RETURN clause:
Modify the query by replacing the constant year value 2007 in the WHERE clause with the parameter
@orderyear

In [26]:
CREATE FUNCTION dbo.fnGetSalesByCustomer
(@orderyear AS INT) RETURNS TABLE
AS
RETURN
select custid,SUM(val)as totalsalesamount
from sales.OrderValues
where year(orderdate)=@orderyear
GROUP BY custid;
GO

4.3. Write a SELECT statement that retrieves the top three sold products based on the total sales value for the customer
with ID 1. Return the productid and productname columns from the Production.Products table. Use
the qty and unitprice columns from the Sales.OrderDetails table to compute each order line’s value,
and return the sum of all values per product, naming the resulting column totalsalesamount. Filter the
results to include only the rows where the custid value is equal to 1.

In [34]:
select top(3)
d.productid,
Max(p.productname)as productname,
SUM(d.qty * d.unitprice)as totalsalesamount
from sales.orders as o 
INNER JOIN SALES.OrderDetails as d ON d.Orderid= o.Orderid
INNER JOIN Production.Products as p ON p.productid= d.productid
group by d.productid
order by totalsalesamount DESC;
go

productid,productname,totalsalesamount
38,Product QDOMO,"149984,2000"
29,Product VJXYN,"87736,4000"
59,Product UKXRI,"76296,0000"

4.4. Create an inline TVF based on the following function header, using the previous SELECT statement.
Replace the constant custid value 1 in the query with the function’s input parameter @custid:

In [32]:
CREATE FUNCTION dbo.fnGetTop3ProductsForCustomer
(@custid AS INT) RETURNS TABLE
AS
RETURN
select top(3)
d.productid,
Max(p.productname)as productname,
SUM(d.qty * d.unitprice)as totalsalesamount
from sales.orders as o 
INNER JOIN SALES.OrderDetails as d ON d.Orderid= o.Orderid
INNER JOIN Production.Products as p ON p.productid= d.productid
where custid = @custid
group by d.productid
order by totalsalesamount DESC;
go

4.5. Test the created inline TVF by writing a SELECT statement against it and use the value 1 for the
customer ID parameter. Retrieve the productid, productname, and totalsalesamount columns, and use
the alias “p” for the inline TVF

4.6. Escribir el código necesario para limpiar todos los cambios realizados

In [0]:
DROP database [TSQL];